
.leftCol {
    max-width: calc(33vw - 2em);
}
.box.node {
    overflow: scroll;
}
th {
    min-width: 8em;
}
img.bciLogo {
    width: 15vw;
    padding-bottom: 2em;
}
img.ipfsLogo {
    width: 15vw;
    padding-bottom: 1.5em;
}
span.infoMessage {
    margin-bottom: 1em;
}
a.bci_link_quiet {
    color: unset;
    text-decoration: none;
}
a.bci_link_quiet:hover {
    color: #77c4ca;
}